{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Публикации
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h3>{{ time_now|date:'d-M-Y H:m' }}</h3>
    {% if news %}
<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
    <table>
        <tr>
            <td>
                <h4>Заголовок</h4>
            </td>
            <td>
                 <h4>Автор </h4>
            </td>
            <td>
                 <h4>Дата публикации </h4>
            </td>
            <td>
                 <h4>Категория </h4>
            </td>
            <td>
                 <h4>Текст </h4>
            </td>
         </tr>
<hr>
        {% for news in filter.qs %}
        <tr>
            <td>
                {{ news.title|censor }}
            </td>
            <td>
                {{ news.author.authorUser.username }}
            </td>
            <td>
                {{ news.dateCreation|date:'d-M-Y H:m' }}
            </td>
            <td>
                {{ news.get_categoryType_display }}
            </td>
            <td>
                {{ news.text|censor }}
            </td>
        </tr>
    {% endfor %}
    </table>

    {% else %}
        <h1>Новостей нет!</h1>
    {% endif %}
<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% else %}
        <h1>Новостей нет!</h1>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <label for="title">Title</label>
    <input title="title" type="text">

    <label for="text">Text</label>
    <input text="text" type="text">

    <label for="author">Author</label>
    <input author="author" min="0">

    <!-- Здесь будет список категорий.  -->
    <select name="category" size="4">

      {% for category in categories %}
        <option value="{{ category.id }}">
            {{ category.name }}
        </option>
      {% endfor %}
    </select>
    <input type="submit" value="Добавить новость">
</form>
{% endblock content %}